@charset 'UTF-8';

	body
	{
		background: #f2f5f3;
		font-family: 'Arial';
		font-weight: 400;
		color: #6b7770;
		font-size: 11.5pt;
		line-height: 2em;
	}


	h1, h2, h3, h4, h5, h6
	{
		font-family: 'Arial', sans-serif;
		font-weight: 400;
		color: #6b7770;
		margin: 0 0 0.5em 0;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	{
		text-decoration: none;
		color: inherit;
	}

	h2
	{
		font-size: 1.65em;
	}

	h2.major
	{
		position: relative;
		border-top: solid 5px #e7eae8;
		font-size: 1.65em;
		text-align: center;
		margin: 0 0 3em 0;
	}

		h2.major span
		{
			background: #fff;
			position: relative;
			display: inline-block;
			top: -0.775em;
			padding: 0 1.5em 0 1.5em;
		}


	h3, h4
	{
		font-size: 1.25em;
	}

	a
	{
		color: #006376;
		text-decoration: none;
	}

		a:hover
		{
			text-decoration: underline;
		}

	b, strong
	{
		font-weight: 700;
		color: #6b7770;
	}

	i, em
	{
		font-style: italic;
	}

	blockquote
	{
		border-left: solid 5px #E7EAE8;
		padding: 1em 0 1em 1.5em;
		font-style: italic;
	}

	p, ul, ol, dl, table
	{
		margin-bottom: 3em;
	}

	section, article
	{
		margin-bottom: 6em;
	}

	section > :last-child, article > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child, article:last-child
	{
		margin-bottom: 0;
	}

	header > p
	{
		display: block;
		font-family: 'Arial';
		font-weight: 400;
		color: #c1cac5;
	}

	.image
	{
		position: relative;
		display: inline-block;
		border-radius: 8px;
	}

		.image img
		{
			display: block;
			width: 100%;
			border-radius: 8px;
		}

		.image:before
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('images/overlay.png');
			border-radius: 8px;
		}

		.image.fit
		{
			display: block;
			width: 100%;
		}

		.image.featured
		{
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

		.image.left
		{
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered
		{
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img
			{
				margin: 0 auto;
				width: auto;
			}

	ul
	{
	}

		ul.actions
		{
			text-align: center;
			margin: 2em 0 0 0;
		}

		ul.default
		{
			list-style: disc;
			padding-left: 1em;
		}

			ul.default li
			{
				padding-left: 0.5em;
			}

		ul.menu li
		{
			border-left: solid 1px #E7EAE8;
			display: inline-block;
			padding: 0 0 0 0.75em;
			margin: 0 0 0 0.75em;
		}

			ul.menu li:first-child
			{
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}

		ol
		{
		}

			ol.default
			{
				list-style: decimal;
				padding-left: 1.25em;
			}

				ol.default li
				{
					padding-left: 0.25em;
				}

	table
	{
		width: 100%;
	}

		table.default
		{
			width: 100%;
		}

			table.default tr
			{
				border-top: solid 2px #E7EAE8;
			}

				table.default tr:first-child
				{
					border-top: 0;
				}

			table.default td
			{
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th
			{
				text-align: left;
				padding: 0.5em 1em 0.5em 1em;
				margin: 0 0 1em 0;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 700;
				text-transform: uppercase;
				color: #6b7770;
			}

			table.default thead
			{
				background: #E7EAE8;
				color: #fff;
			}

			table.default tfoot
			{
			}

			table.default tbody
			{
			}


	.box
	{
	}

		.box.section
		{
			text-align: center;
		}

	#header
	{
		text-align: center;
		font-size: 2em;
		font-family: 'Arial';
		padding: 5em 0 2em 0;
		background: #fff;
		margin: 0 auto;
	}

	#nav
	{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		background-color: rgba(255,255,255,0.95);
		width: 100%;
		height: 3.25em;
		text-align: center;
		font-family: 'Arial';
		font-weight: 700;
		cursor: default;
		border-bottom: solid 1px #949494;
	}

		#nav ul
		{
			position: relative;
			z-index: 1001;
		}

		#nav li
		{
			display: inline-block;
			margin: 0 0.5em 0 0.5em;
			top: 0;
			position: relative;
			-moz-transition: top .15s ease-in-out;
			-webkit-transition: top .15s ease-in-out;
			-o-transition: top .15s ease-in-out;
			-ms-transition: top .15s ease-in-out;
			transition: top .15s ease-in-out;
		}

			#nav li > ul
			{
				display: none;
			}

			#nav li a,
			#nav li span
			{
				position: relative;
				text-decoration: none;
				color: #6b7770;
				top: -6px;
				padding: 6px 1.5em 0.25em 1.5em;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				outline: 0;
				-moz-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				-webkit-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				-o-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				-ms-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				transition: background-color .075s ease-in-out, color .075s ease-in-out;
			}

			#nav li:hover,
			#nav li.active
			{
				top: 3px;
			}

			#nav li:hover a,
			#nav li:hover span,
			#nav li.active a,
			#nav li.active span
			{
				background: #C1CAC5;
				color: #fff;
			}

		#nav li.current
		{
		}

			#nav li.current a
			{
				background: #b1ddab;
				color: #fff;
			}

	#main
	{
		background: #fff;
		border-top: solid 5px #b1ddab;
		border-bottom: solid 5px #c1cac5;
		padding: 6em 0 6em 0;
	}

	.buffer
	{
		margin: 4em 0 4em 0;
	}

	#footer
	{
		text-align: center;
		padding: 8em 0 8em 0;
	}

		#footer a
		{
			color: inherit;
		}

		#footer h2.major
		{
			margin: 0 0 1em 0;
		}


			#footer h2.major span
			{
				background: #f2f5f3;
			}

	#authors
	{
		display: inline-block;
		background: #e7eae8;
		padding: 0.75em 2em 0.75em 2em;
		border-radius: 8px;
		color: #8b9790;
		margin: 4em 0 0 0;
	}

		#authors .bar
		{
			margin: 0;
			list-style-type:none;
		}

			#authors .bar li
			{
				border-color: #C1CAC5;
				border-width: 2px;
				line-height: 1em;
			}
