@charset 'UTF-8';

	body
	{
		background: #f0efef;
		font-family: 'Arial', sans-serif;
		color: #000000;
		font-size: 12pt;
	}

	h1, h2, h3
	{
		font-family: 'Arial', sans-serif;
		font-weight: 400;
		color: #000000;
		margin: 0 0 0.5em 0;
	}

	h1 {
		font-size: 36px;
	}

	h2
	{
		font-size: 30px;
	}

	h2.section
	{
		position: relative;
		border-top: solid 5px #f0efef;
		padding-top: 1em;
		text-align: center;
		margin: 0 0 3em 0;
	}

	h3
	{
		font-size: 24px;
	}

	a
	{
		text-decoration: none;
	}

		a:hover
		{
			text-decoration: underline;
		}

	p, ul, ol, table
	{
		margin-bottom: 1em;
	}

	section, article
	{
		margin-bottom: 2em;
	}

	header > p
	{
		display: block;
		font-family: 'Arial';
		font-weight: 400;
	}

	table
	{
		width: 100%;
	}


	.box.section
	{
		text-align: left;
		margin: 0 4em 0 4em;
	}

	#header
	{
		text-align: center;
		font-family: 'Arial';
		padding: 5em 0 1em 0;
		background: #fff;
		margin: 0 auto;
	}

	#nav
	{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		height: 2.5em;
		text-align: center;
		font-family: 'Arial';
		font-weight: 700;
		cursor: default;
		border-bottom: solid 1px #949494;
		background: #fff;
	}

		#nav ul
		{
			position: relative;
			z-index: 1001;
		}

		#nav li
		{
			display: inline-block;
			top: -5px;
			position: relative;
			-moz-transition: top .15s ease-in-out;
			-webkit-transition: top .15s ease-in-out;
			-o-transition: top .15s ease-in-out;
			-ms-transition: top .15s ease-in-out;
			transition: top .15s ease-in-out;
		}

			#nav li > ul
			{
				display: none;
			}

			#nav li a
			{
				position: relative;
				text-decoration: none;
				color: #000000;
				top: 0px;
				padding: 0.75em 1em 0.75em 1em;
				outline: 0;
				-moz-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				-webkit-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				-o-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				-ms-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				transition: background-color .075s ease-in-out, color .075s ease-in-out;
			}

			#nav li:hover a
			{
				background: #b1ddab;
				color: #000;
			}

	#main
	{
		background: #fff;
		border-top: solid 5px #b1ddab;
		border-bottom: solid 5px #c1cac5;
		padding: 1em 0 6em 0;
	}

	.buffer
	{
		margin: 2em 0 1.5em 0;
	}

	#footer
	{
		text-align: center;
		padding: 3em 0 3em 0;
	}

	#authors
	{
		display: inline-block;
		background: #e7eae8;
		padding: 0.75em 2em 0.75em 2em;
		border-radius: 8px;
		color: #8b9790;
	}

		#authors .bar
		{
			margin: 0;
			list-style-type:none;
		}

			#authors .bar li
			{
				border-color: #C1CAC5;
				border-width: 2px;
				line-height: 1em;
			}
